body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  background-color: cornsilk;
  background-repeat: no-repeat;
}
.plan {
  position: absolute;
  margin-top: 50px;
  margin-left: 180px;
  margin-right: 50px;
  background-size: 1000px 590px;
  margin-bottom: -100px;
}
h5{
  color:black;
}
span {
  font-family: Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
}
a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: none;
  text-decoration-style: none;
}
.Title {
  position: absolute;
  left: 99px;
  z-index: -1;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 90;
  top: 10px;
  margin-left: 50px;
  margin-right: 300px;
}

.grp1 {
  position: absolute;
  top: 165px;
  left: 620px;
  z-index: 1;
  color: blue;
  margin-left: 50px;
  margin-right: 300px;
  cursor: pointer;
  font-family: cursive;
}

.grp2 {
  position: absolute;
  top: 398px;
  left: 925px;
  z-index: 1;
  color: green;
  margin-left: 70px;
  margin-right: 200px;
  cursor: pointer;
  text-decoration: none;
  font-family: cursive;
}
.grp3 {
  position: absolute;
  top: 518px;
  left: 590px;
  z-index: 1;
  color: yellow;
  margin-left: 70px;
  margin-right: 200px;
  cursor: pointer;
  font-family: cursive;
}
.grp4 {
  position: absolute;
  top: 180px;
  left: 920px;
  z-index: 1;
  color: red;
  margin-left: 70px;
  margin-right: 200px;
  cursor: pointer;
  font-family: cursive;
  
}
.grp5 {
  /* position: absolute;
  top: 295px;
  right: 808px;
  z-index: 1;
  color: black;
  margin-left: 70px;
  margin-right: 200px;
  cursor: pointer;
  font-family: cursive; */
  position: absolute;
  top: 300px;
  left: 220px;
  z-index: 1;
  color: red;
  margin-left: 70px;
  margin-right: 200px;
  cursor: pointer;
  font-family: cursive;
}
.grp6 {
  position: absolute;
  top: 315px;
  left: 569px;
  z-index: 1;
  color: white;
  margin-left: 70px;
  margin-right: 200px;
  cursor: pointer;
  font-family: cursive;
}

li:hover .sub-menu1 {
  display: block;
  position: absolute;
}
li:hover .sub-menu2 {
  display: block;
  position: absolute;
}
li:hover .sub-menu3 {
  display: block;
  position: absolute;
}
li:hover .sub-menu4 {
  display: block;
  position: absolute;
}
li:hover .sub-menu5 {
  display: block;
  position: absolute;
}
li:hover .sub-menu6 {
  display: block;
  position: absolute;
}
.h4-1 {
  cursor: pointer;
}
.h4-2 {
  cursor: pointer;
}
.h4-3 {
  cursor: pointer;
}
.h4-4 {
  cursor: pointer;
}
.h4-5 {
  cursor: pointer;
}
.h4-6 {
  cursor: pointer;
}
li :hover {
  background-color: green;
  border: 4px solid black;
  border-radius: 10px;
  color: #fff;
}
li :hover .sub-menu {
  display: block;
}
.sub-menu1 {
  display: none;
}
.sub-menu2 {
  display: none;
}
.sub-menu3 {
  display: none;
}
.sub-menu4 {
  display: none;
}
.sub-menu5 {
  display: none;
}
.sub-menu6 {
  display: none;
}
.ul:hover .sub-menu1 {
  display: block;
}
.ul:hover .sub-menu2 {
  display: block;
}
.ul:hover .sub-menu3 {
  display: block;
}
.ul:hover .sub-menu4 {
  display: block;
}
.ul:hover .sub-menu5 {
  display: block;
}
.ul:hover .sub-menu6 {
  display: block;
}
li {
  list-style: none;
}
/* CSS MEDIA QUERIES */
@media screen and (Max-width: 820px) {
  .grp6, .grp5, .grp1, .grp2, .grp3, .grp4{
    margin-right:-300px;
  }
  .bouton{
    margin-right:  -400px;
  }
}
@media screen and (Max-width: 636px ){
  .grp6, .grp5, .grp1, .grp2, .grp3, .grp4, .Title{
    margin-right:-400px;
  }
  .bouton{
    margin-right:  -600px;
  }
}
@media screen and (Max-width: 540px ){
  .grp6, .grp5, .grp1, .grp2, .grp3, .grp4, .Title, .title2{
    margin-right:-900px;
  }
  .Title{
    z-index: 8;
  }
  .bouton{
    margin-right:  -700px;
  }
}
  


/* ................................................... */
/* BOUTON */
span2 {
color: red;
}
.title2{
  text-shadow: yellow 6px 1px 12px;
  position: absolute;
  top : 39px;
  left:222px;
  color:black;
  animation: glow 1s ease in out infinite alternate;
  text-decoration: underline;
}
.bouton {
  text-decoration: none;
  text-align: center;
  color: rgb(255, 0, 0);
  border: 2px solid gray;
  box-shadow: black 8px 15px 10px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 80px;
  font-style: italic;
  font-weight: bold;
  outline: none;
  margin-top: 0x;
  opacity: 100%;
  text-shadow: yellow 2px 2px 2px;
  z-index: 2;
  position: absolute;
  top: 550px;
  right: 250px;
  left: 700px;
}
.bouton:hover {
  background-color: white;
}
.bouton:active {
  box-shadow: 100px #666;
  background-color: black;
  transform: translate(8px);
}
/* ANIMATIONS */

/* @-webkit-keyframes glow{ */
  /* from {
    text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px lightseagreen, 0 0 40px lightseagreen, 0 0 50px lightseagreen, 0 0 60px lightseagreen, 0 0 70px lightseagreen;
  } 
    to {
      text-shadow: 0 0 20px blue, 0 0 30px lightseagreen, 0 0 40px lightseagreen, 0 0 50px lightseagreen, 0 0 60px lightseagreen, 0 0 70px lightseagreen, 0 0 80px lightseagreen ;
    }
} */

